@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans:wght@400;500;700&display=swap');

body{
    background-color: #000012;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    font-size: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;